
<div id="sign_up">
    <div id="sign_left">
    </div>
    <form id= "sign_form" method="POST" action="/sign_up">
        <div class="col">
            <h3 class="tittle" >First name*</h3>
            <input class="sign_field" type="text" name="first_name" placeholder="firstname">
        </div>
        <div class="col">
            <h3 class="tittle" >Last name*</h3>                            
            <input class="sign_field" type="text" name="last_name" placeholder="lastname">
        </div>                                                                                                          
        <div class="col">
            <h3 class="tittle">Username*</h3>
            <input class="sign_field" type="text" name="username" placeholder="username">
        </div>
        <div class="col">
            <h3 class="tittle">Password*</h3>
            <input class="sign_field" type="text" name="password" placeholder="password">
        </div>
        <div class="col">
            <h3 class="tittle">E-mail*</h3>
            <input class="sign_field" type="text" name="email" placeholder="your email">
        </div>    
        <div class="col">
            <h3 class="tittle">City and State*</h3>
            <input class="sign_field" type="text" name="location" placeholder="city and state">
        </div>
        <div class="col">
            <h3 class="tittle">Upload picture*</h3>
            <input type="file" name="pic" accept="image/*">
        </div>
        <div id="sign_up_bottom">
            <input class="bottom" type="submit" value="Sign up">
        </div>
        <div id="rest_bottom">
            <input class="bottom" type="reset" value="Reset">
        </div>
    </form>
    <div id="sign_right">
    </div>
</div>
